
<!DOCTYPE HTML>
<html>


<head>

  <link rel="stylesheet" type="text/css" href="./css/style.css">

  <title>
    Global Exchnage Rates
  </title>

</head>

<body>

<!-- <h2>Hello World</h2> -->

  <div class="video container">
    <div class="video-wrap">
      <video src="./Media/Airplane Takes Off.mp4" autoplay="" loop="" muted="true"></video>
    </div>
    <div class="header-overlay"></div>
    <!-- <div class="header-content text-md-center">
      <h1>Welcome Everyone</h1>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Id temporibus perferendis necessitatibus numquam amet impedit explicabo? Debitis quasi ullam aperiam!</p>
      <a class="btn">Find Out More</a>
    </div> -->
  </div>


</body>





</html>
