
<!DOCTYPE HTML>
<html>


<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="./css/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <title>
    Global Exchnage Rates
  </title>

</head>

<body>

  <!-- This is the nav bar -->
  <header id="header">
    <div id="nav-container" class="nav-1">
      <h1>
        Global Exchange
      </h1>
      <nav class="nav">
        <ul>
          <li>
            <a href="#">Home</a>
          </li>
          <li>
            <a href="#">Exchange Rates</a>
          </li>
          <li>
            <a href="#">Exchange Tips</a>
          </li>
          <li>
            <a href="#">Our Mission</a>
          </li>
          <li>
            <a href="#">Reach Us</a>
          </li>
          <li>
            <a href="javascript:void(0);" class="icon" onclick="myFunction()">
              <i class="fa fa-bars"></i>
            </a>
          </li>

        </ul>
      </nav>
    </div>
  </header>


  <!-- THis is the background video -->
  <div class="video container">
    <div class="video-wrap">
      <video src="./Media/Airplane Takes Off.mp4" autoplay="" loop="" muted="true"></video>
    </div>
    <div class="header-overlay"></div>
    <!-- <div class="header-content text-md-center">
    <h1>Welcome Everyone</h1>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Id temporibus perferendis necessitatibus numquam amet impedit explicabo? Debitis quasi ullam aperiam!</p>
    <a class="btn">Find Out More</a>
  </div> -->
</div>

<script>
function myFunction() {
  var x = document.getElementById("nav-container");
  if (x.className === "nav-1") {
    x.className += " responsive";
  } else {
    x.className = "nav-1";
  }
}


</script>
</body>





</html>
