body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.5;
  color: #333;
  overflow-x: hidden;
  /* colors -> https://coolors.co/e54b4b-ebebd3-464655-e4b363-e8e9eb */ }
  body #header {
    z-index: 2;
    position: fixed;
    width: 100%;
    height: 60px;
    line-height: 60px;
    color: white; }
    body #header .nav-1 {
      margin: 0 auto;
      font-family: helvetica, sans-serif; }
      body #header .nav-1 h1.logo {
        margin: 0px;
        text-transform: uppercase;
        font-size: 1.2em;
        padding-top: 15px;
        font-size: 40px;
        float: left;
        margin-left: 40px; }
      body #header .nav-1 .icon-position {
        display: none; }
      body #header .nav-1 .bar1, body #header .nav-1 .bar2, body #header .nav-1 .bar3 {
        width: 35px;
        height: 5px;
        background-color: #333;
        margin: 6px 0;
        transition: 0.4s; }
      body #header .nav-1 .change .bar1 {
        -webkit-transform: rotate(-45deg) translate(-10, 9px);
        transform: rotate(-45deg) translate(-10, 9px); }
      body #header .nav-1 .change .bar2 {
        opacity: 0; }
      body #header .nav-1 .change .bar3 {
        -webkit-transform: rotate(45deg) translate(-10px, 9px);
        transform: rotate(45deg) translate(-10px, 9px); }
    body #header .nav {
      position: absolute;
      right: 0;
      top: -15px;
      font-size: 25px;
      margin-right: 15px; }
      body #header .nav ul li {
        float: left;
        list-style: none; }
        body #header .nav ul li a {
          display: block;
          color: white;
          text-decoration: none;
          padding: 0 15px;
          border-bottom: 4px solid #ffffff00;
          transition: border 0.1s linear; }
          body #header .nav ul li a:hover {
            border-bottom: 4px solid #ffffff; }
    body #header #intro-heading h2.fade, body #header #intro-paragraph h2.fade {
      padding-top: 200px;
      font-size: 90px;
      text-align: center;
      animation: fadein 2s;
      -moz-animation: fadein 2s;
      /* Firefox */
      -webkit-animation: fadein 2s;
      /* Safari and Chrome */
      -o-animation: fadein 2s;
      /* Opera */
      margin-top: 0px; }
    body #header #intro-heading h3.fade, body #header #intro-paragraph h3.fade {
      padding-top: 50px;
      font-size: 50px;
      text-align: center;
      animation: fadein 4s;
      -moz-animation: fadein 4s;
      /* Firefox */
      -webkit-animation: fadein 4s;
      /* Safari and Chrome */
      -o-animation: fadein 4s;
      /* Opera */
      margin-top: 0px; }
@keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@-moz-keyframes fadein {
  /* Firefox */
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@-webkit-keyframes fadein {
  /* Safari and Chrome */
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@-o-keyframes fadein {
  /* Opera */
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
  @media only screen and (max-width: 1350px) {
    body #header .nav-1 {
      width: 100%; }
      body #header .nav-1 h1.logo {
        margin: 0;
        margin-left: 10px; }
      body #header .nav-1 .icon-position {
        display: block;
        margin: 0px;
        text-transform: uppercase;
        font-size: 1.2em;
        padding-top: 22px;
        font-size: 40px;
        float: right;
        margin-right: 40px; }
        body #header .nav-1 .icon-position .bar1, body #header .nav-1 .icon-position .bar2, body #header .nav-1 .icon-position .bar3 {
          width: 35px;
          height: 5px;
          background-color: #fff;
          margin: 6px 0;
          transition: 0.4s; }
        body #header .nav-1 .icon-position .change .bar1 {
          -webkit-transform: rotate(-45deg) translate(-9px, 6px);
          transform: rotate(-45deg) translate(-9px, 6px); }
        body #header .nav-1 .icon-position .change .bar2 {
          opacity: 0; }
        body #header .nav-1 .icon-position .change .bar3 {
          -webkit-transform: rotate(45deg) translate(-8px, -8px);
          transform: rotate(45deg) translate(-8px, -8px); }
      body #header .nav-1 .nav {
        width: unset;
        top: unset;
        font-size: unset; }
        body #header .nav-1 .nav ul li a {
          display: none; }
    body #header .nav-1.responsive .nav {
      width: 50%;
      top: 60px;
      display: block;
      text-align: center;
      margin-right: 25%;
      transition: 0.3s; }
      body #header .nav-1.responsive .nav ul {
        background: #2220;
        width: 100%;
        padding-left: 0px; }
        body #header .nav-1.responsive .nav ul li {
          float: none; }
          body #header .nav-1.responsive .nav ul li a {
            padding: 10px 3%;
            line-height: 50px;
            border: 1px solid #ffffff00;
            display: block;
            font-size: 30px;
            transition: 0.1s; }
            body #header .nav-1.responsive .nav ul li a:hover {
              border: 1px solid #ffffff;
              border-radius: 25px; } }
  @media only screen and (max-width: 550px) {
    body #header .nav-1 h1.logo {
      margin: 0;
      font-size: 25px;
      margin-left: 5px;
      padding-top: 10px; } }
  @media only screen and (max-width: 550px) {
    body #header .nav-1 h1.logo {
      margin: 0;
      font-size: 20px;
      margin-left: 5px; } }
  body .video, body .container {
    overflow: hidden;
    display: block;
    height: 100vh; }
  body .video {
    align-items: center;
    color: #fff;
    position: relative;
    width: 102%; }
  body .container {
    max-width: 100%;
    margin: auto;
    text-align: center; }
  body .video-wrap {
    width: 100%; }
    body .video-wrap video {
      width: 100%; }
  @media only screen and (max-width: 1380px) {
    body .video-wrap {
      width: 100%; }
      body .video-wrap video {
        width: unset; } }

/*# sourceMappingURL=style.css.map */
